
@{
    ViewBag.Title = "UrunEkle";
}

<h2>Urun Ekle</h2>
<hr />

@using (Html.BeginForm("UrunEkle", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label for="exampleInputEmail1" class="control-label col-md-3">Ürün Adı</label>
            <div class="col-md-9">
                @Html.TextBox("UrunAdi", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="control-label col-md-3">Ürün Açıklaması</label>
            @Html.TextArea("UrunAdi", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="control-label col-md-3">Fiyat</label>
            <div class="col-md-9">
                @Html.TextArea("Fiyat", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="control-label col-md-3">Resim</label>
            <div class="col-md-9">
                @Html.TextArea("Resim", null, new { @class = "form -control" })
            </div>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1" class="control-label col-md-3">Satışta mı?</label>
            <div class="col-md-9">
                Evet: @Html.RadioButton("Satışta mı?", true);
                Hayır: @Html.RadioButton("Satışta mı?", false);
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
}
